In [1]:
import pandas as pd

Récupération des données Géod'Air 2014:

In [2]:
geodair_2014 = pd.read_csv("data/Export Moy. annuelle - 20251017113831 - 2014-01-01 00_00 - 2014-12-31 23_00.csv", sep=";")
geodair_2014

,Date de début,Date de fin,Organisme,code zas,Zas,code site,nom site,type d'implantation,Polluant,type d'influence,...,valeur,valeur brute,unité de mesure,taux de saisie,couverture temporelle,couverture de données,code qualité,validité,Latitude,Longitude
0,2014/01/01 00:00:00,2014/12/31 23:59:59,ATMO GRAND EST,FR01A01,LORRAINE-METZ,FR01005,Hayange,Périurbaine,SO2,Industrielle,...,1.0,1.098095,µg-m3,97.0,93,90.0,R,1,49.324722,6.076108
1,2014/01/01 00:00:00,2014/12/31 23:59:59,ATMO GRAND EST,FR01A01,LORRAINE-METZ,FR01006,Florange,Périurbaine,SO2,Fond,...,1.0,1.233486,µg-m3,87.0,97,84.0,N,-1,49.320831,6.140000
2,2014/01/01 00:00:00,2014/12/31 23:59:59,ATMO GRAND EST,FR01A01,LORRAINE-METZ,FR01009,Gandrange,Périurbaine,SO2,Industrielle,...,3.0,3.062999,µg-m3,92.0,100,92.0,R,1,49.271393,6.132500
3,2014/01/01 00:00:00,2014/12/31 23:59:59,ATMO GRAND EST,FR01A01,LORRAINE-METZ,FR01012,Metz-Borny,Urbaine,SO2,Fond,...,2.0,2.000495,µg-m3,97.0,100,97.0,R,1,49.110283,6.223336
4,2014/01/01 00:00:00,2014/12/31 23:59:59,ATMO GRAND EST,FR01N20,LORRAINE-ZR,FR01014,Pont-à-Mousson,Urbaine,SO2,Fond,...,2.0,2.096583,µg-m3,98.0,100,98.0,R,1,48.915000,6.058336
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1967,2014/01/01 00:00:00,2014/12/31 23:59:59,MADININAIR,FR39N10,MARTINIQUE-ZUR,FR39011,Reneville,Urbaine,C6H6,Trafic,...,3.0,2.521928,µg-m3,100.0,35,35.0,A,1,14.614111,-61.053083
1968,2014/01/01 00:00:00,2014/12/31 23:59:59,MADININAIR,FR39N20,MARTINIQUE-ZR,FR39109,Office du tourisme,Urbaine,C6H6,Industrielle,...,1.0,0.657152,µg-m3,100.0,13,13.0,A,1,14.671083,-61.163361
1969,2014/01/01 00:00:00,2014/12/31 23:59:59,ATMO BOURGOGNE-FRANCHE-COMTE,FR17N10,FRANCHE-COMTE-ZUR,FR82001,Besancon Mégevand,Urbaine,C6H6,Trafic,...,1.0,0.900819,µg-m3,100.0,23,23.0,A,1,47.235973,6.023611
1970,2014/01/01 00:00:00,2014/12/31 23:59:59,ATMO BOURGOGNE-FRANCHE-COMTE,FR17N10,FRANCHE-COMTE-ZUR,FR82512,Besancon rue Vesoul,Urbaine,C6H6,Trafic,...,1.0,1.356059,µg-m3,100.0,23,23.0,A,1,47.253292,6.016094
1971,2014/01/01 00:00:00,2014/12/31 23:59:59,ATMO BOURGOGNE-FRANCHE-COMTE,FR17N10,FRANCHE-COMTE-ZUR,FR82514,Besancon Madeleine,Urbaine,C6H6,Trafic,...,1.0,1.367222,µg-m3,100.0,23,23.0,A,1,47.240994,6.018156

In [3]:
geodair_2014.shape

(1972, 23)

In [5]:
geodair_2014.columns

Index(['Date de début', 'Date de fin', 'Organisme', 'code zas', 'Zas',
       'code site', 'nom site', 'type d'implantation', 'Polluant',
       'type d'influence', 'Réglementaire', 'type d'évaluation',
       'type de valeur', 'valeur', 'valeur brute', 'unité de mesure',
       'taux de saisie', 'couverture temporelle', 'couverture de données',
       'code qualité', 'validité', 'Latitude', 'Longitude'],
      dtype='object')

Ajout d'une colonne ville :

In [4]:
!pip install geopy

Collecting geopy
  Downloading geopy-2.4.1-py3-none-any.whl.metadata (6.8 kB)
Collecting geographiclib<3,>=1.52 (from geopy)
  Downloading geographiclib-2.1-py3-none-any.whl.metadata (1.6 kB)
Downloading geopy-2.4.1-py3-none-any.whl (125 kB)
Downloading geographiclib-2.1-py3-none-any.whl (40 kB)
Installing collected packages: geographiclib, geopy
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [geopy]32m1/2 [geopy]
Successfully installed geographiclib-2.1 geopy-2.4.1

In [6]:
from geopy.geocoders import Nominatim
import time

geolocator = Nominatim(user_agent="geoapi")
coords = [(48.8566, 2.3522), (45.7640, 4.8357), (14.614111, -61.053083)]  # Exemple

for lat, lon in coords:
    location = geolocator.reverse((lat, lon), exactly_one=True)
    address = location.raw['address']
    city = address.get('city') or address.get('town')
    print(city)
    time.sleep(1)  # Pour respecter le taux de requêtes

Paris
Lyon
Fort-de-France

In [31]:
from geopy.geocoders import Nominatim
import time

geolocator = Nominatim(user_agent="geoapi")

n, _ = geodair_2014.shape
coords = []

for i in range(n):
    lat = geodair_2014.loc[i, "Latitude"]
    lon = geodair_2014.loc[i, "Longitude"]
    coords.append((lat, lon))


cities = []

for i in range(n):
    lat, lon = coords[i]
    location = geolocator.reverse((lat, lon), exactly_one=True)
    address = location.raw['address']
    city = address.get('city') or address.get('town')
    cities.append(city)
    print(city)
    time.sleep(1)

cities

Hayange
Florange
None
Metz
Pont-à-Mousson
None
None
Thionville
None
Hayange
None
Berre-l'Étang
Châteauneuf-les-Martigues
Martigues
Martigues
Martigues
Martigues
Port-de-Bouc
Port-Saint-Louis-du-Rhône
Fos-sur-Mer
Istres
Fos-sur-Mer
Port-de-Bouc
None
Vitrolles
Rognac
None
Arles
Miramas
Martigues
Châteauneuf-les-Martigues
Berre-l'Étang
Marignane
Martigues
Martigues
None
Martigues
Port-de-Bouc
Salon-de-Provence
Gardanne
Marseille
Neuilly-sur-Seine
Aubervilliers
Vitry-sur-Seine
Fontainebleau
None
Le Havre
Le Havre
None
None
None
None
Le Havre
Le Havre
Montivilliers
None
None
None
Port-Jérôme-sur-Seine
None
None
Maubeuge

KeyboardInterrupt:

In [27]:
geodair_2014.loc[1, ["Latitude", "Longitude"]]
coords

[(Latitude    49.324722
  Name: 0, dtype: object,
  Longitude    6.076108
  Name: 0, dtype: object),
 (Latitude    49.320831
  Name: 1, dtype: object,
  Longitude    6.14
  Name: 1, dtype: object),
 (Latitude    49.271393
  Name: 2, dtype: object,
  Longitude    6.1325
  Name: 2, dtype: object),
 (Latitude    49.110283
  Name: 3, dtype: object,
  Longitude    6.223336
  Name: 3, dtype: object),
 (Latitude    48.915
  Name: 4, dtype: object,
  Longitude    6.058336
  Name: 4, dtype: object),
 (Latitude    48.884724
  Name: 5, dtype: object,
  Longitude    6.051392
  Name: 5, dtype: object),
 (Latitude    48.886387
  Name: 6, dtype: object,
  Longitude    6.093611
  Name: 6, dtype: object),
 (Latitude    49.358337
  Name: 7, dtype: object,
  Longitude    6.156942
  Name: 7, dtype: object),
 (Latitude    49.131115
  Name: 8, dtype: object,
  Longitude    6.207225
  Name: 8, dtype: object),
 (Latitude    49.3374
  Name: 9, dtype: object,
  Longitude    6.08207
  Name: 9, dtype: object),
 (Latitude    49.16885
  Name: 10, dtype: object,
  Longitude    6.212669
  Name: 10, dtype: object),
 (Latitude    43.486234
  Name: 11, dtype: object,
  Longitude    5.171939
  Name: 11, dtype: object),
 (Latitude    43.386816
  Name: 12, dtype: object,
  Longitude    5.16006
  Name: 12, dtype: object),
 (Latitude    43.416661
  Name: 13, dtype: object,
  Longitude    5.042731
  Name: 13, dtype: object),
 (Latitude    43.405297
  Name: 14, dtype: object,
  Longitude    5.051636
  Name: 14, dtype: object),
 (Latitude    43.358982
  Name: 15, dtype: object,
  Longitude    5.023388
  Name: 15, dtype: object),
 (Latitude    43.360692
  Name: 16, dtype: object,
  Longitude    5.058139
  Name: 16, dtype: object),
 (Latitude    43.401952
  Name: 17, dtype: object,
  Longitude    4.981919
  Name: 17, dtype: object),
 (Latitude    43.39378
  Name: 18, dtype: object,
  Longitude    4.801024
  Name: 18, dtype: object),
 (Latitude    43.437858
  Name: 19, dtype: object,
  Longitude    4.945116
  Name: 19, dtype: object),
 (Latitude    43.506149
  Name: 20, dtype: object,
  Longitude    4.982898
  Name: 20, dtype: object),
 (Latitude    43.458927
  Name: 21, dtype: object,
  Longitude    4.934572
  Name: 21, dtype: object),
 (Latitude    43.425331
  Name: 22, dtype: object,
  Longitude    4.996785
  Name: 22, dtype: object),
 (Latitude    43.548315
  Name: 23, dtype: object,
  Longitude    5.183108
  Name: 23, dtype: object),
 (Latitude    43.44603
  Name: 24, dtype: object,
  Longitude    5.254136
  Name: 24, dtype: object),
 (Latitude    43.510802
  Name: 25, dtype: object,
  Longitude    5.220046
  Name: 25, dtype: object),
 (Latitude    43.331245
  Name: 26, dtype: object,
  Longitude    5.117696
  Name: 26, dtype: object),
 (Latitude    43.675114
  Name: 27, dtype: object,
  Longitude    4.62921
  Name: 27, dtype: object),
 (Latitude    43.584693
  Name: 28, dtype: object,
  Longitude    5.006452
  Name: 28, dtype: object),
 (Latitude    43.386564
  Name: 29, dtype: object,
  Longitude    5.026868
  Name: 29, dtype: object),
 (Latitude    43.399546
  Name: 30, dtype: object,
  Longitude    5.113214
  Name: 30, dtype: object),
 (Latitude    43.472012
  Name: 31, dtype: object,
  Longitude    5.167704
  Name: 31, dtype: object),
 (Latitude    43.415689
  Name: 32, dtype: object,
  Longitude    5.216875
  Name: 32, dtype: object),
 (Latitude    43.339893
  Name: 33, dtype: object,
  Longitude    5.058827
  Name: 33, dtype: object),
 (Latitude    43.37571
  Name: 34, dtype: object,
  Longitude    5.064025
  Name: 34, dtype: object),
 (Latitude    43.330868
  Name: 35, dtype: object,
  Longitude    5.151234
  Name: 35, dtype: object),
 (Latitude    43.398805
  Name: 36, dtype: object,
  Longitude    5.072803
  Name: 36, dtype: object),
 (Latitude    43.413945
  Name: 37, dtype: object,
  Longitude    4.985996
  Name: 37, dtype: object),
 (Latitude    43.639002
  Name: 38, dtype: object,
  Longitude    5.101097
  Name: 38, dtype: object),
 (Latitude    43.453584
  Name: 39, dtype: object,
  Longitude    5.466672
  Name: 39, dtype: object),
 (Latitude    43.305287
  Name: 40, dtype: object,
  Longitude    5.394716
  Name: 40, dtype: object),
 (Latitude    48.88139
  Name: 41, dtype: object,
  Longitude    2.278056
  Name: 41, dtype: object),
 (Latitude    48.9039
  Name: 42, dtype: object,
  Longitude    2.3847
  Name: 42, dtype: object),
 (Latitude    48.775897
  Name: 43, dtype: object,
  Longitude    2.375788
  Name: 43, dtype: object),
 (Latitude    48.3547
  Name: 44, dtype: object,
  Longitude    2.6453
  Name: 44, dtype: object),
 (Latitude    49.528927
  Name: 45, dtype: object,
  Longitude    0.358733
  Name: 45, dtype: object),
 (Latitude    49.503906
  Name: 46, dtype: object,
  Longitude    0.175731
  Name: 46, dtype: object),
 (Latitude    49.481087
  Name: 47, dtype: object,
  Longitude    0.165289
  Name: 47, dtype: object),
 (Latitude    49.47372
  Name: 48, dtype: object,
  Longitude    0.526158
  Name: 48, dtype: object),
 (Latitude    49.487682
  Name: 49, dtype: object,
  Longitude    0.451756
  Name: 49, dtype: object),
 (Latitude    49.505
  Name: 50, dtype: object,
  Longitude    0.201694
  Name: 50, dtype: object),
 (Latitude    49.50386
  Name: 51, dtype: object,
  Longitude    0.084614
  Name: 51, dtype: object),
 (Latitude    49.48963
  Name: 52, dtype: object,
  Longitude    0.100703
  Name: 52, dtype: object),
 (Latitude    49.4983
  Name: 53, dtype: object,
  Longitude    0.142706
  Name: 53, dtype: object),
 (Latitude    49.545414
  Name: 54, dtype: object,
  Longitude    0.185369
  Name: 54, dtype: object),
 (Latitude    49.50362
  Name: 55, dtype: object,
  Longitude    0.266872
  Name: 55, dtype: object),
 (Latitude    49.504036
  Name: 56, dtype: object,
  Longitude    0.411594
  Name: 56, dtype: object),
 (Latitude    49.50273
  Name: 57, dtype: object,
  Longitude    0.232486
  Name: 57, dtype: object),
 (Latitude    49.493332
  Name: 58, dtype: object,
  Longitude    0.571853
  Name: 58, dtype: object),
 (Latitude    49.512146
  Name: 59, dtype: object,
  Longitude    0.539036
  Name: 59, dtype: object),
 (Latitude    49.498417
  Name: 60, dtype: object,
  Longitude    0.758697
  Name: 60, dtype: object),
 (Latitude    50.27936
  Name: 61, dtype: object,
  Longitude    3.97691
  Name: 61, dtype: object),
 (Latitude    50.32276
  Name: 62, dtype: object,
  Longitude    3.39593
  Name: 62, dtype: object),
 (Latitude    50.420288
  Name: 63, dtype: object,
  Longitude    3.551811
  Name: 63, dtype: object),
 (Latitude    43.8292
  Name: 64, dtype: object,
  Longitude    4.64295
  Name: 64, dtype: object),
 (Latitude    43.9426
  Name: 65, dtype: object,
  Longitude    4.67958
  Name: 65, dtype: object),
 (Latitude    45.694725
  Name: 66, dtype: object,
  Longitude   -0.323361
  Name: 66, dtype: object),
 (Latitude    46.824368
  Name: 67, dtype: object,
  Longitude   -0.135461
  Name: 67, dtype: object),
 (Latitude    51.05206
  Name: 68, dtype: object,
  Longitude    2.35378
  Name: 68, dtype: object),
 (Latitude    51.04858
  Name: 69, dtype: object,
  Longitude    2.42004
  Name: 69, dtype: object),
 (Latitude    51.03381
  Name: 70, dtype: object,
  Longitude    2.3352
  Name: 70, dtype: object),
 (Latitude    51.01943
  Name: 71, dtype: object,
  Longitude    2.25099
  Name: 71, dtype: object),
 (Latitude    50.99599
  Name: 72, dtype: object,
  Longitude    2.21466
  Name: 72, dtype: object),
 (Latitude    50.94729
  Name: 73, dtype: object,
  Longitude    1.84308
  Name: 73, dtype: object),
 (Latitude    50.9578
  Name: 74, dtype: object,
  Longitude    1.89008
  Name: 74, dtype: object),
 (Latitude    50.96156
  Name: 75, dtype: object,
  Longitude    1.8739
  Name: 75, dtype: object),
 (Latitude    50.69435
  Name: 76, dtype: object,
  Longitude    1.57657
  Name: 76, dtype: object),
 (Latitude    51.02446
  Name: 77, dtype: object,
  Longitude    2.30215
  Name: 77, dtype: object),
 (Latitude    50.74823
  Name: 78, dtype: object,
  Longitude    2.25978
  Name: 78, dtype: object),
 (Latitude    50.68719
  Name: 79, dtype: object,
  Longitude    2.88004
  Name: 79, dtype: object),
 (Latitude    50.62805
  Name: 80, dtype: object,
  Longitude    3.09031
  Name: 80, dtype: object),
 (Latitude    50.7242
  Name: 81, dtype: object,
  Longitude    3.15906
  Name: 81, dtype: object),
 (Latitude    50.532032
  Name: 82, dtype: object,
  Longitude    2.839
  Name: 82, dtype: object),
 (Latitude    43.093611
  Name: 83, dtype: object,
  Longitude    0.743611
  Name: 83, dtype: object),
 (Latitude    43.106156
  Name: 84, dtype: object,
  Longitude    0.71955
  Name: 84, dtype: object),
 (Latitude    43.927769
  Name: 85, dtype: object,
  Longitude    2.145897
  Name: 85, dtype: object),
 (Latitude    43.587344
  Name: 86, dtype: object,
  Longitude    1.444003
  Name: 86, dtype: object),
 (Latitude    43.230297
  Name: 87, dtype: object,
  Longitude    0.062339
  Name: 87, dtype: object),
 (Latitude    49.25861
  Name: 88, dtype: object,
  Longitude    4.031111
  Name: 88, dtype: object),
 (Latitude    49.224167
  Name: 89, dtype: object,
  Longitude    4.020556
  Name: 89, dtype: object),
 (Latitude    48.962223
  Name: 90, dtype: object,
  Longitude    4.36
  Name: 90, dtype: object),
 (Latitude    48.301666
  Name: 91, dtype: object,
  Longitude    4.076944
  Name: 91, dtype: object),
 (Latitude    48.645836
  Name: 92, dtype: object,
  Longitude    4.966111
  Name: 92, dtype: object),
 (Latitude    49.745277
  Name: 93, dtype: object,
  Longitude    4.719167
  Name: 93, dtype: object),
 (Latitude    45.1619
  Name: 94, dtype: object,
  Longitude    5.7356
  Name: 94, dtype: object),
 (Latitude    48.919357
  Name: 95, dtype: object,
  Longitude    8.158458
  Name: 95, dtype: object),
 (Latitude    48.59043
  Name: 96, dtype: object,
  Longitude    7.744983
  Name: 96, dtype: object),
 (Latitude    47.810932
  Name: 97, dtype: object,
  Longitude    7.105553
  Name: 97, dtype: object),
 (Latitude    48.074444
  Name: 98, dtype: object,
  Longitude    7.350555
  Name: 98, dtype: object),
 (Latitude    47.80221
  Name: 99, dtype: object,
  Longitude    7.122844
  Name: 99, dtype: object),
 (Latitude    48.08861
  Name: 100, dtype: object,
  Longitude   -1.659722
  Name: 100, dtype: object),
 (Latitude    48.38618
  Name: 101, dtype: object,
  Longitude   -4.4866
  Name: 101, dtype: object),
 (Latitude    47.75171
  Name: 102, dtype: object,
  Longitude   -3.37501
  Name: 102, dtype: object),
 (Latitude    45.6639
  Name: 103, dtype: object,
  Longitude    4.8459
  Name: 103, dtype: object),
 (Latitude    45.7078
  Name: 104, dtype: object,
  Longitude    4.8644
  Name: 104, dtype: object),
 (Latitude    45.69953
  Name: 105, dtype: object,
  Longitude    4.829694
  Name: 105, dtype: object),
 (Latitude    45.7036
  Name: 106, dtype: object,
  Longitude    4.8836
  Name: 106, dtype: object),
 (Latitude    45.757732
  Name: 107, dtype: object,
  Longitude    4.854214
  Name: 107, dtype: object),
 (Latitude    49.63639
  Name: 108, dtype: object,
  Longitude   -1.626667
  Name: 108, dtype: object),
 (Latitude    49.157528
  Name: 109, dtype: object,
  Longitude    6.744167
  Name: 109, dtype: object),
 (Latitude    49.166
  Name: 110, dtype: object,
  Longitude    6.734
  Name: 110, dtype: object),
 (Latitude    49.165726
  Name: 111, dtype: object,
  Longitude    6.716886
  Name: 111, dtype: object),
 (Latitude    49.158413
  Name: 112, dtype: object,
  Longitude    6.731664
  Name: 112, dtype: object),
 (Latitude    49.220364
  Name: 113, dtype: object,
  Longitude    6.925833
  Name: 113, dtype: object),
 (Latitude    49.118343
  Name: 114, dtype: object,
  Longitude    7.083539
  Name: 114, dtype: object),
 (Latitude    49.18742
  Name: 115, dtype: object,
  Longitude    6.910867
  Name: 115, dtype: object),
 (Latitude    47.324097
  Name: 116, dtype: object,
  Longitude   -2.081567
  Name: 116, dtype: object),
 (Latitude    47.322706
  Name: 117, dtype: object,
  Longitude   -2.039244
  Name: 117, dtype: object),
 (Latitude    47.317284
  Name: 118, dtype: object,
  Longitude   -2.073306
  Name: 118, dtype: object),
 (Latitude    47.24747
  Name: 119, dtype: object,
  Longitude   -1.936619
  Name: 119, dtype: object),
 (Latitude    47.36075
  Name: 120, dtype: object,
  Longitude   -1.95475
  Name: 120, dtype: object),
 (Latitude    47.28318
  Name: 121, dtype: object,
  Longitude   -1.783164
  Name: 121, dtype: object),
 (Latitude    47.286114
  Name: 122, dtype: object,
  Longitude   -2.032289
  Name: 122, dtype: object),
 (Latitude    47.331524
  Name: 123, dtype: object,
  Longitude   -2.151625
  Name: 123, dtype: object),
 (Latitude    47.319157
  Name: 124, dtype: object,
  Longitude   -2.066953
  Name: 124, dtype: object),
 (Latitude    47.273056
  Name: 125, dtype: object,
  Longitude   -2.223056
  Name: 125, dtype: object),
 (Latitude    49.383133
  Name: 126, dtype: object,
  Longitude    1.025758
  Name: 126, dtype: object),
 (Latitude    49.442358
  Name: 127, dtype: object,
  Longitude    1.093789
  Name: 127, dtype: object),
 (Latitude    49.02134
  Name: 128, dtype: object,
  Longitude    1.148319
  Name: 128, dtype: object),
 (Latitude    49.4005
  Name: 129, dtype: object,
  Longitude    1.099042
  Name: 129, dtype: object),
 (Latitude    49.40986
  Name: 130, dtype: object,
  Longitude    1.053736
  Name: 130, dtype: object),
 (Latitude    49.42815
  Name: 131, dtype: object,
  Longitude    1.058025
  Name: 131, dtype: object),
 (Latitude    45.454517
  Name: 132, dtype: object,
  Longitude    4.766528
  Name: 132, dtype: object),
 (Latitude    50.44914
  Name: 133, dtype: object,
  Longitude    2.9
  Name: 133, dtype: object),
 (Latitude    50.30886
  Name: 134, dtype: object,
  Longitude    2.807369
  Name: 134, dtype: object),
 (Latitude    45.42009
  Name: 135, dtype: object,
  Longitude    4.395422
  Name: 135, dtype: object),
 (Latitude    48.024605
  Name: 136, dtype: object,
  Longitude    6.585836
  Name: 136, dtype: object),
 (Latitude    48.172653
  Name: 137, dtype: object,
  Longitude    6.452817
  Name: 137, dtype: object),
 (Latitude    48.77586
  Name: 138, dtype: object,
  Longitude    5.162789
  Name: 138, dtype: object),
 (Latitude    48.63334
  Name: 139, dtype: object,
  Longitude    6.304828
  Name: 139, dtype: object),
 (Latitude    48.565445
  Name: 140, dtype: object,
  Longitude    6.129578
  Name: 140, dtype: object),
 (Latitude    48.051117
  Name: 141, dtype: object,
  Longitude    7.011114
  Name: 141, dtype: object),
 (Latitude    48.694725
  Name: 142, dtype: object,
  Longitude    6.965275
  Name: 142, dtype: object),
 (Latitude    49.06583
  Name: 143, dtype: object,
  Longitude    5.785556
  Name: 143, dtype: object),
 (Latitude    48.68817
  Name: 144, dtype: object,
  Longitude    6.190431
  Name: 144, dtype: object),
 (Latitude    48.656944
  Name: 145, dtype: object,
  Longitude    6.136022
  Name: 145, dtype: object),
 (Latitude    44.86121
  Name: 146, dtype: object,
  Longitude   -0.58037
  Name: 146, dtype: object),
 (Latitude    44.900296
  Name: 147, dtype: object,
  Longitude   -0.515835
  Name: 147, dtype: object),
 (Latitude    45.014777
  Name: 148, dtype: object,
  Longitude   -0.533942
  Name: 148, dtype: object),
 (Latitude    43.310797
  Name: 149, dtype: object,
  Longitude   -0.391543
  Name: 149, dtype: object),
 (Latitude    43.307777
  Name: 150, dtype: object,
  Longitude   -0.322778
  Name: 150, dtype: object),
 (Latitude    43.47982
  Name: 151, dtype: object,
  Longitude   -1.489157
  Name: 151, dtype: object),
 (Latitude    43.359722
  Name: 152, dtype: object,
  Longitude   -0.566944
  Name: 152, dtype: object),
 (Latitude    43.41123
  Name: 153, dtype: object,
  Longitude   -0.617728
  Name: 153, dtype: object),
 (Latitude    43.376279
  Name: 154, dtype: object,
  Longitude   -0.538206
  Name: 154, dtype: object),
 (Latitude    43.409857
  Name: 155, dtype: object,
  Longitude   -0.673155
  Name: 155, dtype: object),
 (Latitude    43.436455
  Name: 156, dtype: object,
  Longitude   -0.695041
  Name: 156, dtype: object),
 (Latitude    43.377194
  Name: 157, dtype: object,
  Longitude   -0.610278
  Name: 157, dtype: object),
 (Latitude    43.838876
  Name: 158, dtype: object,
  Longitude   -0.81203
  Name: 158, dtype: object),
 (Latitude    45.274723
  Name: 159, dtype: object,
  Longitude    6.349722
  Name: 159, dtype: object),
 (Latitude    45.251991
  Name: 160, dtype: object,
  Longitude    6.397194
  Name: 160, dtype: object),
 (Latitude    46.072224
  Name: 161, dtype: object,
  Longitude    5.820833
  Name: 161, dtype: object),
 (Latitude    45.884851
  Name: 162, dtype: object,
  Longitude    0.898431
  Name: 162, dtype: object),
 (Latitude    45.8311
  Name: 163, dtype: object,
  Longitude    1.256875
  Name: 163, dtype: object),
 (Latitude    45.873311
  Name: 164, dtype: object,
  Longitude    1.307916
  Name: 164, dtype: object),
 (Latitude    45.875834
  Name: 165, dtype: object,
  Longitude    0.823951
  Name: 165, dtype: object),
 (Latitude    44.675938
  Name: 166, dtype: object,
  Longitude    4.673586
  Name: 166, dtype: object),
 (Latitude   -20.962784
  Name: 167, dtype: object,
  Longitude    55.296207
  Name: 167, dtype: object),
 (Latitude   -20.931833
  Name: 168, dtype: object,
  Longitude    55.30593
  Name: 168, dtype: object),
 (Latitude   -20.884575
  Name: 169, dtype: object,
  Longitude    55.453906
  Name: 169, dtype: object),
 (Latitude   -20.910585
  Name: 170, dtype: object,
  Longitude    55.618977
  Name: 170, dtype: object),
 (Latitude   -20.943007
  Name: 171, dtype: object,
  Longitude    55.2906
  Name: 171, dtype: object),
 (Latitude   -21.334406
  Name: 172, dtype: object,
  Longitude    55.45906
  Name: 172, dtype: object),
 (Latitude   -21.204815
  Name: 173, dtype: object,
  Longitude    55.58262
  Name: 173, dtype: object),
 (Latitude   -21.29433
  Name: 174, dtype: object,
  Longitude    55.62793
  Name: 174, dtype: object),
 (Latitude   -20.9498
  Name: 175, dtype: object,
  Longitude    55.313828
  Name: 175, dtype: object),
 (Latitude   -21.022112
  Name: 176, dtype: object,
  Longitude    55.266773
  Name: 176, dtype: object),
 (Latitude   -20.928686
  Name: 177, dtype: object,
  Longitude    55.332581
  Name: 177, dtype: object),
 (Latitude   -21.277075
  Name: 178, dtype: object,
  Longitude    55.403065
  Name: 178, dtype: object),
 (Latitude    14.603497
  Name: 179, dtype: object,
  Longitude   -61.041206
  Name: 179, dtype: object),
 (Latitude    14.607444
  Name: 180, dtype: object,
  Longitude   -61.069778
  Name: 180, dtype: object),
 (Latitude    4.932214
  Name: 181, dtype: object,
  Longitude   -52.310226
  Name: 181, dtype: object),
 (Latitude    4.84816
  Name: 182, dtype: object,
  Longitude   -52.3238
  Name: 182, dtype: object),
 (Latitude    41.924694
  Name: 183, dtype: object,
  Longitude    8.735694
  Name: 183, dtype: object),
 (Latitude    42.697917
  Name: 184, dtype: object,
  Longitude    9.446417
  Name: 184, dtype: object),
 (Latitude    41.958028
  Name: 185, dtype: object,
  Longitude    8.820278
  Name: 185, dtype: object),
 (Latitude    42.535833
  Name: 186, dtype: object,
  Longitude    9.475972
  Name: 186, dtype: object),
 (Latitude    47.0426
  Name: 187, dtype: object,
  Longitude    5.400944
  Name: 187, dtype: object),
 (Latitude    47.065628
  Name: 188, dtype: object,
  Longitude    5.415061
  Name: 188, dtype: object),
 (Latitude    47.147231
  Name: 189, dtype: object,
  Longitude    5.556211
  Name: 189, dtype: object),
 (Latitude    49.535004
  Name: 190, dtype: object,
  Longitude    5.804447
  Name: 190, dtype: object),
 (Latitude    49.324722
  Name: 191, dtype: object,
  Longitude    6.076108
  Name: 191, dtype: object),
 (Latitude    49.320831
  Name: 192, dtype: object,
  Longitude    6.14
  Name: 192, dtype: object),
 (Latitude    49.119442
  Name: 193, dtype: object,
  Longitude    6.180833
  Name: 193, dtype: object),